<!DOCTYPE html>
<html>
<head>
  <title>Customer Flow Management</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <h1>CFM Database Manual Search Page</h1>

<%= yield %>

</body>
</html>
