<br/>
<p>This allows for manaul search of SalesForce CRM based on customer name.</p>
<p>Some valid customer names are;<br/><br/>
sForce</p>
<p/>
<form method="post" action="search">
	<span class="heading">Search by Account Name:</span>
	<p/>
	<input type="text" name="accountName" value="sForce" style="width: 300px"/>
	&nbsp
	<input type="submit" value="Search"/>
	&nbsp 
</form>
<p/>
