  <span class="title">
    <img src="images/rails.png" align="left" style="padding-right:5px">
    Welcome to the CFM Administration Page (RoR on Heroku)</span>
    <br/><br/><br/><br/>
<p>This allows for manaul search of SalesForce CRM based on customer name.</p>
<p>Some valid customer names are;<br/><br/>
00190000009IKeMAAW => sForce.</p>
<p/>
<form method="post" action="search">
	<span class="heading">Search by Account Name:</span>
	<p/>
	<input type="text" name="accountName" value="sForce" style="width: 300px"/>
	&nbsp
	<input type="submit" value="Search"/>
	&nbsp 
</form>
<p/>
